openapi: 3.0.0
info:
  title: REMOTE MARKETPLACE
  version: '1.0'
  contact:
    email: anymarketdev@db1.com.br
    name: AnyMarket Developers
    url: 'http://developers.anymarket.com.br/'
  x-logo:
    url: 'https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png'
  x-preferred: true
  x-providerName: REMOTE MARKETPLACE
  description: |-
    Esta API deve ser implementada pelo marketplace. A API ANYMARKET funcionará como um sistema de notificações aonde já temos os remotes prontos que serão disparados na URL base da API que vocês nos informaram no preenchimento do documento de liberação.

    Abaixo contem os remotes de cadas uma das aplicações que o marketplace deve realizar com base na regra de negocio previamente formalizada na PGP.

    ### Identificando um seller

    As chamadas abaixo serão disparadas para obter algumas informações referente a identificação do seller. As mesmas serão utilizadas como identificador em alguns momento como:
    Envio de anúncios para o marketplace;
    Atualizações dos anúncios;
    Ativações de algumas funcionalidades internas que o seller pode utilizar no ANYMARKET como criação de campanhas e entre outros. 
servers:
  - url: 'http://endereco.marketplace.com.br'
    description: Servidor do Marketplace
paths:
  /sendProduct:
    post:
      summary: /sendProduct
      operationId: post-sendProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationResponse'
              examples:
                Example:
                  value:
                    publicationStatus: UNPUBLISHED
                    marketplaceStatus: string
                    transmissionStatus: WAITING_SYNC
                Exemplo 2 - Atualização:
                  value:
                    publicationStatus: ACTIVE
                    marketplaceStatus: Ativo - O Marketplace está processando a atualização.
                    transmissionStatus: SYNCING
      description: |-
        O objetivo da chamada sendProduct é enviar o anúncio para o Marketplace informando que foi criado no ANYMARKET ou que teve uma atualização que deve ser refletida no marketplace. 
        <!-- theme: warning -->
        > #### Ponto de Atenção!
        >
        > É através deste remote que o ANYMARKET encaminhará a notificação para o markektplace que o anuncio teve alguma modificação, seja ela de preço, estoque ou cadastro. É importante que assim que o marketplace receber a notificação faça uma chamada de consulta para a nossa API no anuncio notificado, afim de consultar os dados e realizar a alteração na camada do marketplace. 

        ### Orientações

        - Quando identificado que é uma nova publicação é recomendado que o marketplace mantenha o publicationStatus como UNPUBLISHED e o marketplaceStatus como processando, conforme o primeiro exemplo. 
        - Assim que o anuncio for processado o marketplace precisa realizar uma chamada na nossa API para atualizar o status ou descrever o motivo do não processamento.
        - Em casos em que o marketplace identificar que se trata de uma atualização, o mesmo deve responder a chamada do /sendProduct avisando que está processando a atualização e posteriormente acionar a nossa API afim de retirar o sincronizando da transmissão e deixando atualizado o status do anuncio. (Exemplo 2).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendPublication'
            examples:
              Example:
                value:
                  idSkuMarketplace: 0
                  idSkuMarketplaceMain: 0
                  status: UNPUBLISHED
                  onlySync: true
                  idSku: 0
                  availableAmount: 0
                  idAccount: 0
                  idProduct: 0
                  skuInMarketplace: string
                  onlySyncPrice: true
                  onlySyncStock: true
                  onlySyncStatus: true
              example 2 - Exemplo de Atualização:
                value:
                  idSkuMarketplace: 58717
                  idSkuMarketplaceMain: 58717
                  status: ACTIVE
                  onlySync: true
                  idSku: 791780
                  availableAmount: 100
                  idAccount: 1
                  idProduct: 1234
                  skuInMarketplace: null
                  onlySyncPrice: true
                  onlySyncStock: true
                  onlySyncStatus: true
        description: ''
      tags:
        - Anúncios
  /deletePublication:
    delete:
      summary: /deletePublication
      operationId: delete-deletePublication
      x-groupName: Api Integration
      x-sortIndex: 2
      responses:
        '200':
          description: OK
      description: |-
        O remote tem intuito de notificar o marketplace que a publicação está sendo removida do ANYMARKET e com isso o marketplace não recebera mais atualizações de preço, estoque e consequentemente realizar a inserção de pedidos na base.

        <!-- theme: warning -->

        > #### Ponto de Atenção!
        >
        > Por isso, quando o marketplace receber a notificação é importante que o mesmo inative o produto para vendas, evitando assim vendas sem estoque e problemas futuros. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePublication'
            examples:
              Example:
                value:
                  idSkuMarketplace: 0
                  idSkuMarketplaceMain: 0
                  status: UNPUBLISHED
                  onlySync: true
                  idSku: 0
                  availableAmount: 0
                  idAccount: 0
                  idProduct: 0
                  skuInMarketplace: string
                  onlySyncPrice: true
                  onlySyncStock: true
                  onlySyncStatus: true
        description: ''
      tags:
        - Anúncios
  '/getDefaultSkuFields/{idSku}':
    parameters:
      - schema:
          type: string
        name: idSku
        in: path
        required: true
        description: Código do Sku no Anymarket
    get:
      summary: '/getDefaultSkuFields/{idSku}'
      tags:
        - Anúncios
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  String:
                    type: string
              examples:
                Example:
                  value:
                    EAN: '7894566666666'
                    title: Panela Elétrica de Arroz Visor Glass Philco Preta 220V
                    DISCOUNT_VALUE: '0'
                    DISCOUNT_TYPE: PERCENT
                    priceFactor: '1'
      operationId: get-getDefaultSkuFields-idSku
      parameters:
        - schema:
            type: string
          in: query
          name: idAccount
          description: Código da conta no marketplace
      description: |-
        Após o marketplace autorizar o envio do produto na requisição anterior (canActive), o ANYMARKET irá disparar uma chamada para obter alguns dados obrigatórios para criação da interface do anuncio no painel ANYMARKET.
        É necessário que o marketplace retorne o titulo do SKU, EAN e as informações default de preço
  /canSave:
    post:
      summary: /canSave
      operationId: post-canSave
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                Example:
                  value: true
      description: |-
        O \canSave é um remote obrigatório e é utilizado para que o marketplace realize uma pré validação do anuncio, antes que ele seja publicado.
        Exemplos de validação:
        - Atributos;
        - Verificar se a ficha técnica estão completas para a categoria que estão enviando;
        - validar se contem palavras proibidas na descrição e titulo;
        - Trava de valor minimo no anúncio;
        - Se o cliente tem a liberação para publicar na categoria;
        - Autorização para vendar determinada marca no MarketPlace;

        **Mesmo se tratando de um remote obrigatório, o marketplace pode não optar por realizar essa pré-validação, retornando nesses casos um http (status 200, OK) e no "responsebody = true" que é a informação esperada para prosseguir com o anuncio.**

        <!--
        focus: false
        -->
        ![image.png](http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/31479673./3775713692465E756FBEAD86AB14131B/standard_resolution.jpg)
      tags:
        - Anúncios
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/canSave'
  /canActive:
    post:
      summary: /canActive
      operationId: post-canActive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                Example:
                  value: true
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: string
                    minLength: 1
                  httpStatus:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  details:
                    type: string
                    minLength: 1
                required:
                  - code
                  - httpStatus
                  - message
                  - details
                x-examples:
                  example-1:
                    code: PublicationValidationException
                    httpStatus: 422
                    message: string
                    details: string
              examples:
                example-1:
                  value:
                    code: PublicationValidationException
                    httpStatus: 422
                    message: Erro ao validar publicação
                    details: 'Palavra proibida identificada na descrição do anúncio, realize a correção e tente enviar o anuncio novamente'
      description: |-
        A finalidade deste remote é informar uma previa do SKU que o seller está querendo transmitir para o marketplace. O JSON que é encaminhado no corpo da chamada contem os dados do SKU e dados do produto.
        Neste momento é esperado que o marketplace faça uma breve analise do conteúdo, validando assim informações pertinentes a criação do anuncio no marketplace, como por exemplo, se dados como vinculação de categoria, marca e variação foram realizados pelo seller.
        Em caso de sucesso o marketplace deve retornar um http status 200 e tendo como response body um valor booleano, em caso de negativa é esperado que o marketplace retorne o motivo, para assim o seller ter o retorno visual da negativa e aplicar as correções apresentadas.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SKU'
            examples:
              Example:
                value:
                  id: 0
                  partnerId: string
                  amount: 0
                  ean: string
                  title: string
                  price: 0
                  sellPrice: 0
                  additionalTime: 0
                  variations:
                    - id: 0
                      idInMarketplace: string
                      description: string
                      type:
                        id: 0
                        idInMarketplace: string
                        name: string
                        partnerId: string
                        visualVariation: true
                      partnerId: string
                  product:
                    id: 0
                    title: string
                    description: string
                    model: string
                    nbm:
                      id: string
                      description: string
                    videoUrl: string
                    definitionPriceScope: COST
                    characteristics:
                      - index: 0
                        name: string
                        value: string
                    origin:
                      id: 0
                      name: NACIONAL
                    category:
                      id: 0
                      idInMarketplace: string
                      name: string
                      path: string
                    height: 0
                    length: 0
                    width: 0
                    weight: 0
                    images:
                      - id: 0
                        index: 0
                        variation: string
                        thumbnailUrl: string
                        standardUrl: string
                        lowResolutionUrl: string
                        originalImage: string
                        url: string
                        statusMessage: string
                        status: UNPROCESSED
                        main: true
                        standardWidth: string
                        standardHeight: string
                        originalWidth: string
                        originalHeight: string
                    brand:
                      id: 0
                      idInMarketplace: string
                      name: string
                      partnerId: string
                    warrantyTime: 0
                    warrantyText: string
                    priceFactor: 0
                    calculatedPrice: true
                    hasVariations: true
                    gender: MALE
                    allowAutomaticSkuMarketplaceCreation: true
        description: ''
      tags:
        - Anúncios
  /saveAccount:
    post:
      summary: /saveAccount
      operationId: post-saveAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                Example:
                  value: true
      tags:
        - Configuração
      description: Nesta notificação enviamos os dados da configuração informados pelo Seller caso o middleware queira armazenar.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/saveAccount'
            examples:
              example-1:
                value:
                  id: 1
                  active: true
                  templateId: null
                  accountName: Conta - Teste
                  discountType: PERCENT
                  useSandbox: true
                  accountDefault: true
                  priceFactor: 1
                  discountValue: 0
                  initialDateForOrderImport: null
                  updatePriceStockStatus: true
                  additionOfFreight: 0
                  user:
                    token: LG1234567891234R-987456321
                    country: null
                  field1: string
                  field2: string
  /testIntegration:
    post:
      summary: /testIntegration
      operationId: post-testIntegration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                Example:
                  value: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: ''
                type: boolean
                x-examples:
                  example-1:
                    value: true
              examples:
                Example-1:
                  value: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleConfiguration'
            examples:
              example-1:
                id: 0
                active: true
                templateId: null
                accountName: string
                discountType: PERCENT
                useSandbox: true
                accountDefault: true
                priceFactor: 0
                discountValue: 0
                initialDateForOrderImport: null
                updatePriceStockStatus: true
                additionOfFreight: 0
                field1: value1
                field2: value2
        description: Teste de Integração
      tags:
        - Configuração
      description: |-
        Nesta notificação enviamos os dados de autenticação no marketplace configurados pelo Seller, para que o middleware valide o acesso junto ao marketplace.

        O remote é acionado quando o cliente no ANYMARKET clica no botão “salvar” na tela de autenticação, no modulo disponibilizada pelo ANYMARKET. 
  '/order/force/{idInMarketPlace}':
    parameters:
      - schema:
          type: string
        name: idInMarketPlace
        in: path
        required: true
        description: Código do pedido no marketplace
    post:
      summary: '/order/force/{idInMarketPlace}'
      operationId: post-order-force-idInMarketPlace
      x-groupName: Api Integration
      x-sortIndex: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                Example:
                  value: true
      description: Enviaremos essa notificação sempre que o seller solicitar o reenvio do pedido do marketplace para o ANYMARKET (Monitoring)
      parameters:
        - schema:
            type: string
          in: query
          name: idAccount
          description: Código da conta
        - schema:
            type: string
          in: query
          name: oi
          description: Código oi do cliente
          required: true
      tags:
        - Pedidos
  /forceImportOrders:
    post:
      summary: /forceImportOrders
      operationId: post-forceImportOrders
      responses:
        '200':
          description: OK
      description: Enviaremos essa notificação quando o seller solicitar a importação de todos os pedidos para o painel do ANYMARKET (Tela de Configuração).
      parameters:
        - schema:
            type: string
          in: query
          name: idAccount
          required: true
          description: Código da conta
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationDTO'
            examples:
              Example:
                value:
                  id: 0
                  oi: string
                  active: true
                  templateId: 0
                  accountName: string
                  marketplace: string
                  discountType: PERCENT
                  useSandbox: true
                  accountDefault: true
                  priceFactor: 0
                  discountValue: 0
                  initialDateForOrderImport: '2019-08-24'
                  updatePriceStockStatus: true
                  additionOfFreight: 0
                  fields:
                    - string
        description: ''
      tags:
        - Pedidos
  '/order/{idInMarketPlace}':
    parameters:
      - schema:
          type: string
        name: idInMarketPlace
        in: path
        required: true
        description: Código do pedido no marketplace
    get:
      summary: '/order/{idInMarketPlace}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOrder'
      operationId: get-order-idInMarketPlace
      parameters:
        - schema:
            type: string
          in: query
          name: idAccount
          description: Código da conta
          required: true
      tags:
        - Pedidos
      description: 'A chamada de consulta do pedido consiste em obter os dados mais atualizados do pedido. A notificação será encaminhada quando o ANYMARKET for retentar algum pedido criticado ou caso o seller realize o force de forma manual. '
  /order/updateOrderStatusInMarketPlace:
    put:
      summary: /order/updateOrderStatusInMarketPlace
      operationId: put-order-updateOrderStatusInMarketPlace
      responses:
        '200':
          description: OK
      description: |
        O endpoint será acionado quando o seller realizar alguma alteração de status de pedido. Com isso será encaminhado a notificação no endpoint acima passando algumas informações referente ao pedido.
        Assim que o marketplace receber a chamada o mesmo deve consultar o pedido em questão na nossa API afim de coletar os dados mais atualizados do pedido e assim confirmar que a atualização ocorreu sem problemas.

        <!-- theme: warning -->
        > #### Ponto de Atenção!
        >
        > O marketplace deve estar preparado quando ocorrer um "salto de status", ou seja, quando o seller realizar uma mudança de status de "PAGO" direto para "ENVIADO" ou "CONCLUÍDO".
        >É importante que o marketplace tenha esse cenário contemplado para evitar problemas futuros de integração. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteApiUpdateOrderStatus'
            examples:
              example-1:
                value:
                  orderId: 0
                  idInMarketplace: string
                  oldStatus: PAID
                  currentStatus: INVOICED
        description: ''
      tags:
        - Pedidos
  /categories:
    get:
      summary: /categories
      tags:
        - Vínculo de Categoria
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categories'
              examples:
                Example:
                  value:
                    - codeInMarketplace: '2551'
                      name: Decoração
      operationId: get-categories
      description: |-
        Busca do primeiro nível da arvore de categorias do marketplace.

        O reponse será um array contendo o primeiro nível de categoria do marketplace.
      parameters:
        - schema:
            type: string
          in: query
          name: accountIdentifier
          description: Identificação da conta
  '/categories/{codeInMarketPlace}':
    parameters:
      - schema:
          type: string
        name: codeInMarketPlace
        in: path
        required: true
    get:
      summary: '/categories/{codeInMarketPlace}'
      tags:
        - Vínculo de Categoria
      operationId: get-categories-details-categoryIdInMarketplace
      description: Consulta categoria no marketplace
      parameters:
        - schema:
            type: string
          in: query
          name: accountIdentifier
          description: Identificação da conta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDetails'
              examples:
                Category Details | Subcategorias:
                  value:
                    codeInMarketPlace: 2551
                    name: Beleza e Perfumaria
                    isReceivingItens: true
                    variationsMandatory: true
                    canBeSelected: true
                    children:
                      - codeInMarketplace: 2554
                        name: Maquiagem
                      - codeInMarketplace: 2555
                        name: Perfumes
                'Category Details | Ultimo nível ':
                  value:
                    codeInMarketPlace: 2557
                    name: Porta-Retratos
                    isReceivingItens: true
                    variationsMandatory: true
                    canBeSelected: true
                    children: []
  '/categories/attributes/{codeInMarketPlace}':
    parameters:
      - schema:
          type: string
        name: codeInMarketPlace
        in: path
        required: true
    get:
      summary: '/categories/attributes/{codeInMarketPlace}'
      tags:
        - Vínculo de Categoria
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryAttribute'
              examples:
                Atributos:
                  value:
                    - codeInMarketPlace: '665'
                      description: Sabor
                      required: true
                      recommended: false
                      type: STRING_INPUT
                    - codeInMarketPlace: '674'
                      description: Tamanho
                      required: false
                      recommended: false
                      type: NUMBER_INPUT
                    - codeInMarketPlace: '295'
                      description: Cor
                      required: false
                      recommended: false
                      type: SELECT_INPUT
                      values:
                        - codeInMarketPlace: '2954'
                          name: Azul
                        - codeInMarketPlace: '2953'
                          name: Vermelho
                        - codeInMarketPlace: '2952'
                          name: Verde
                        - codeInMarketPlace: '2951'
                          name: Amarelo
      operationId: get-categories-attributes-id
      description: |-
        Quando o ANYMARKET disparar a notificação para obter os dados de características o marketplace deve retornar um payload com o seguinte formato, lembrando que pode conter 3 tipos de "type"

        ​
        STRING_INPUT = Campo aberto em que o seller pode digitar apenas valores do tipo "string".

        NUMBER_INPUT = ​Campo aberto em que o seller pode digitar apenas valores do tipo "number".

        SELECT_INPUT = Será aberto um dropdown para o seller escolher os valores disponibilizados pelo marketplace.


        Pontos de atenção:

        A visualização dos valores que o seller realizou o de/para das características ficarão disponíveis no momento em que for enviado o remote canSave e quando o marketplace vier consultar a transmissão do anuncio em questão. As informações ficarão dispostas no conjunto “atributes”:
        Deixo abaixo um exemplo de uma parte do JSON enviado na chamada do remote /canSave, contendo o conjunto "atributes" já com os valores que o seller realizou o de/para. Lembrando que os valores no conteúdo JSON é os valores disponibilizados pelo marketplace.

        ```json
        ......
        "attributes": {
        "92": "20",
        "5854": "50kg",
        "455": "78"
        }
        ......
        ```
  /brands:
    get:
      summary: /brands
      tags:
        - Vínculo de Marca
      operationId: get-brands
      description: |-
        ### Informação
        A vinculação de marcas nada mais é que um DE/PARA que o seller ira realizar na camada ANYMARKET, informando ao marketplace que a marca "X" corresponde a marca "Y" do marketplace em questão. Nesse cenário, o parceiro receberá a chamada GET para que o ANYMARKET possa obter a informação de marca existente no marketplace e posteriormente as chamadas de vinculação e obtenção do vinculo.

        Lembrando que ao realizar o vínculo de marca, o parceiro deve armazenar os IDs da vinculação, para posteriormente, quando for enviado o produto vinculado a marca o mesmo saber qual foi o de/para realizado pelo cliente no processo de vinculação.

        ### Objetivo
        Obter as marcas disponíveis no marketplace para vinculação.
        O retorno esperado será um array contendo as marcas disponíveis para vinculação. 
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
              examples:
                Example:
                  value:
                    - codeInMarketplace: string
                      name: string
  '/product/{partnerId}':
    get:
      summary: '/product/{partnerId}'
      tags:
        - Vínculo de SKU
      operationId: get-product
      description: Consulta produto no marketplace
      parameters:
        - schema:
            type: integer
            format: int64
            minimum: 0
            exclusiveMaximum: true
          in: query
          name: idAccount
          description: Código da conta no marketplace
        - schema:
            type: string
            enum:
              - COST
              - SKU_MARKETPLACE
              - SKU
          in: query
          name: definitionScope
          description: Tipo da regra de preço do produto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinculoSku'
              examples:
                example-1:
                  value:
                    idInMarketplace: SKUFROMMKT
                    publicationStatus: ACTIVE
                    marketplaceStatus: STATUS_NO_MKT_SKM2
                    skuInMarketplace: SKU_IN_MKT_MKT_SKM2
                    title: PRODUTO
                    ean: '456789123456'
                    priceFactor: 1
                    price: 10
                    discountPrice: 9
    parameters:
      - schema:
          type: string
        name: partnerId
        in: path
        required: true
  /variations/types:
    get:
      summary: /variations/types
      tags:
        - Vínculo de Variação
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variation_response'
              examples:
                example-1:
                  value:
                    codeInMarketplace: COLOR_VARIANT
                    name: Cor
                    values:
                      - codeInMarketplace: RED
                        name: Vermelho
                      - codeInMarketplace: BLUE
                        name: Azul
      operationId: get-variations-types
      description: Consulta os tipos e valores possíveis para o seller realizar o de/para.
components:
  schemas:
    Attributes:
      title: Attributes
      type: object
      properties:
        String:
          type: string
      examples:
        - cor: azul
          tamanho: grande
          material: inox
    AvailableStockDTO:
      title: AvailableStockDTO
      type: object
      properties:
        amount:
          type: number
          format: double
          minimum: 0
        availableAmount:
          type: number
          format: double
          minimum: 0
        cost:
          type: number
          format: double
          minimum: 0
        totalReservation:
          type: number
          format: double
          minimum: 0
        physicalAmount:
          type: number
          format: double
          minimum: 0
        reservedPending:
          type: number
          format: double
          minimum: 0
        reservedPaid:
          type: number
          format: double
          minimum: 0
        totalInInvoicedStatus:
          type: number
          format: double
          minimum: 0
        stockLocal:
          format: double
          type: string
        additionalTime:
          type: integer
          format: int32
          minimum: 0
          maximum: 999
    Brand:
      title: Brand
      type: object
      properties:
        codeInMarketplace:
          type: string
        name:
          type: string
      examples:
        - codeInMarketplace: string
          name: string
    CategoryDetails:
      description: ''
      type: object
      x-examples:
        example-1:
          codeInMarketPlace: 2551
          name: Beleza e Perfumaria
          isReceivingItens: true
          variationsMandatory: true
          canBeSelected: true
          children:
            - codeInMarketplace: 2554
              name: Maquiagem
            - codeInMarketplace: 2555
              name: Perfumes
        example-2:
          codeInMarketPlace: string
          name: string
          isReceivingItens: true
          variationsMandatory: true
          canBeSelected: true
          children:
            - codeInMarketplace: string
              name: string
      properties:
        codeInMarketPlace:
          type: string
        name:
          type: string
          minLength: 1
        isReceivingItens:
          type: boolean
        variationsMandatory:
          type: boolean
        canBeSelected:
          type: boolean
        children:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              codeInMarketplace:
                type: string
              name:
                type: string
                minLength: 1
            required:
              - codeInMarketplace
              - name
      required:
        - codeInMarketPlace
        - name
        - isReceivingItens
        - variationsMandatory
        - canBeSelected
        - children
    CategoryAssociation:
      title: CategoryAssociation
      type: object
      properties:
        idCategoryMarketplace:
          type: string
        idCategoryAnymarket:
          type: integer
          format: int64
          minimum: 0
        accountIdentifier:
          type: string
    CategoryAttribute:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      items:
        type: object
        required:
          - codeInMarketPlace
          - description
          - required
          - recommended
          - type
          - values
        properties:
          codeInMarketPlace:
            type: string
            minLength: 1
          description:
            type: string
            minLength: 1
          required:
            type: boolean
          recommended:
            type: boolean
          type:
            type: string
            minLength: 1
          values:
            type: array
            uniqueItems: true
            minItems: 1
            items:
              required:
                - codeInMarketPlace
                - name
              properties:
                codeInMarketPlace:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
      x-examples:
        example-1:
          - codeInMarketPlace: '665'
            description: Sabor
            required: true
            recommended: false
            type: STRING_INPUT
          - codeInMarketPlace: '674'
            description: Tamanho
            required: false
            recommended: false
            type: STRING_INPUT
          - codeInMarketPlace: '295'
            description: Cor
            required: false
            recommended: false
            type: SELECT_INPUT
            values:
              - codeInMarketPlace: '2954'
                name: Azul
    CategoryDataDefinition:
      title: CategoryDataDefinition
      type: object
      properties:
        codeInMarketPlace:
          type: string
        name:
          type: string
        dataDefinitionType:
          type: string
          enum:
            - STRING_INPUT
            - SELECT_INPUT
            - NUMBER_INPUT
        values:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    MarketPlace:
      title: MarketPlace
      type: string
      description: Identificador do Marketplace
      enum:
        - B2W
        - CNOVA
        - ECOMMERCE
        - MERCADO_LIVRE
        - WALMART
        - GFG
        - NETSHOES
        - VTEX;
      examples: []
    ModuleConfiguration:
      title: ModuleConfiguration
      type: object
      examples:
        - id: 0
          active: true
          templateId: 0
          accountName: string
          discountType: PERCENT
          useSandbox: true
          accountDefault: true
          priceFactor: 0
          discountValue: 0
          initialDateForOrderImport: 25-01-2021
          updatePriceStockStatus: true
          additionOfFreight: 0
          field1: value1
          field2: value2
      description: |+

      x-examples:
        example-1:
          id: 0
          active: true
          templateId: 0
          accountName: string
          discountType: PERCENT
          useSandbox: true
          accountDefault: true
          priceFactor: 0
          discountValue: 0
          initialDateForOrderImport: 25-01-2021
          updatePriceStockStatus: true
          additionOfFreight: 0
          field1: value1
          field2: value2
      properties:
        id:
          type: integer
          format: int64
          description: Id do ANYMARKET
          nullable: true
        active:
          type: boolean
          description: Status da conta
        templateId:
          type: integer
          format: int64
          description: Código do template padrão
          nullable: true
        accountName:
          type: string
          minLength: 0
          maxLength: 255
          description: Nome do usuário no marketplace
        discountType:
          type: string
          minLength: 0
          maxLength: 255
          description: Tipo de desconto
          default: PERCENT
          enum:
            - PERCENT
            - VALUE
        useSandbox:
          type: boolean
          description: Informa se o uso é em Sandbox
        accountDefault:
          type: boolean
          description: Informa se a conta é a padrão para o marketplace
        priceFactor:
          type: number
          format: double
          minimum: 0
          description: Fator de preço
        discountValue:
          type: number
          format: double
          minimum: 0
          description: Valor padrão de desconto
        initialDateForOrderImport:
          type: string
          format: date
          description: Data inicial para a importação de pedidos
          example: '2021-12-31'
          nullable: true
        updatePriceStockStatus:
          type: boolean
          description: Permite ou não atualizar o preço e status do estoque
        additionOfFreight:
          type: number
          format: double
          minimum: 0
          description: Valor adicional de frete
        field1:
          type: string
          description: Campos customizados para atender especifidade do MarketPlace
        field2:
          type: string
          description: Campos customizados para atender especifidade do MarketPlace
      required:
        - id
        - active
        - accountName
        - discountType
        - useSandbox
        - accountDefault
        - priceFactor
        - discountValue
        - initialDateForOrderImport
        - updatePriceStockStatus
        - additionOfFreight
    saveAccount:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 0
          active: true
          templateId: 0
          accountName: string
          discountType: PERCENT
          useSandbox: true
          accountDefault: true
          priceFactor: 0
          discountValue: 0
          initialDateForOrderImport: 25-01-2021
          updatePriceStockStatus: true
          additionOfFreight: 0
          user:
            token: LG1234567891234R-987654321
            country: null
          field1: value1
          field2: value2
      title: ''
      properties:
        id:
          type: number
          description: Id do ANYMARKET
        active:
          type: boolean
          description: Status da conta
        templateId:
          type: number
          description: Código do template padrão
        accountName:
          type: string
          description: Nome do usuário no marketplace
          minLength: 0
          maxLength: 255
        discountType:
          type: string
          minLength: 0
          maxLength: 255
          description: Tipo de desconto
          enum:
            - PERCENT
            - VALUE
          default: PERCENT
        useSandbox:
          type: boolean
          description: Informa se o uso é em Sandbox
        accountDefault:
          type: boolean
          description: Informa se a conta é a padrão para o marketplace
        priceFactor:
          type: number
          description: Fator de preço
          minimum: 0
          format: double
        discountValue:
          type: number
          description: Valor padrão de desconto
          minimum: 0
          format: double
        initialDateForOrderImport:
          type: string
          minLength: 1
          description: Data inicial para a importação de pedidos
          nullable: true
        updatePriceStockStatus:
          type: boolean
          description: Permite ou não atualizar o preço e status do estoque
        additionOfFreight:
          type: number
          description: Valor adicional de frete
          format: double
        user:
          type: object
          required:
            - token
          properties:
            token:
              type: string
              minLength: 1
              description: Token do Seller no Anymarket
            country:
              nullable: true
        field1:
          type: string
          minLength: 1
          description: Campos customizados para atender especifidade do MarketPlace
        field2:
          type: string
          minLength: 1
          description: Campos customizados para atender especifidade do MarketPlace
      required:
        - id
        - active
        - accountName
        - discountType
        - useSandbox
        - accountDefault
        - priceFactor
        - discountValue
        - initialDateForOrderImport
        - updatePriceStockStatus
        - additionOfFreight
        - user
    PriceScope:
      title: PriceScope
      type: string
    Product:
      description: ''
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
        title:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        model:
          type: string
          minLength: 1
        nbm:
          type: object
          required:
            - id
            - description
          properties:
            id:
              type: string
              format: int64
            description:
              type: string
              minLength: 1
        videoUrl:
          format: int32
          type: string
        definitionPriceScope:
          type: string
          enum:
            - COST
            - SKU_MARKETPLACE
            - SKU
        characteristics:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              index:
                type: integer
                format: int32
                minimum: 0
              name:
                type: string
                minLength: 1
              value:
                type: string
                minLength: 1
            required:
              - index
              - name
              - value
        origin:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: integer
              format: int32
              minimum: 0
            name:
              type: string
              minLength: 1
              enum:
                - NACIONAL
                - ESTRANGEIRA_IMPORTACAO_DIRETA
                - ESTRANGEIRA_ADQUIRIDA_NO_MERCADO_INTERNO
                - NACIONAL_IMPORTACAO_MAIS_40_PORCENTO
                - NACIONAL_CONFORMIDADE_AJUSTES
                - NACIONAL_IMPORTACAO_MENOS_40_PORCENTO
                - ESTRANGEIRA_SEM_SIMILAR_NACIONAL
                - ESTRANGEIRA_ADQUIRIDA_NO_MERCADO_INTERNO_SEM_SIMILAR
                - NACIONAL_IMPORTACAO_MAIS_70_PORCENTO
        category:
          type: object
          required:
            - id
            - idInMarketplace
            - name
            - path
          properties:
            id:
              type: integer
              format: int64
              minimum: 0
            idInMarketplace:
              type: string
              minLength: 1
            name:
              type: string
              minLength: 1
            path:
              type: string
              minLength: 1
        height:
          type: number
          format: double
          minimum: 0
        length:
          type: number
          format: double
          minimum: 0
        width:
          type: number
          format: double
          minimum: 0
        weight:
          type: number
          format: double
          minimum: 0
        images:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
                minimum: 0
              index:
                type: integer
                format: int32
                minimum: 0
              variation:
                type: string
                minLength: 1
              thumbnailUrl:
                type: string
                minLength: 1
              standardUrl:
                type: string
                minLength: 1
              lowResolutionUrl:
                type: string
                minLength: 1
              originalImage:
                type: string
                minLength: 1
              url:
                type: string
                minLength: 1
              statusMessage:
                type: string
              status:
                type: string
                minLength: 1
                enum:
                  - UNPROCESSED
                  - PROCESSED
                  - ERROR
              main:
                type: boolean
              standardWidth:
                type: string
              standardHeight:
                type: string
              originalWidth:
                type: string
              originalHeight:
                type: string
            required:
              - id
              - index
              - variation
              - thumbnailUrl
              - standardUrl
              - lowResolutionUrl
              - originalImage
              - url
              - status
              - main
              - standardWidth
              - standardHeight
              - originalWidth
              - originalHeight
        brand:
          type: object
          required:
            - id
            - idInMarketplace
            - name
            - partnerId
          properties:
            id:
              type: number
            idInMarketplace:
              type: string
              minLength: 1
            name:
              type: string
              minLength: 1
            partnerId:
              type: string
              minLength: 1
        warrantyTime:
          type: integer
          format: int32
          minimum: 0
          maximum: 999
        warrantyText:
          format: int32
          type: string
        priceFactor:
          type: number
          format: double
          minimum: 0
        calculatedPrice:
          format: double
          type: boolean
        hasVariations:
          format: double
          type: boolean
        gender:
          type: string
          enum:
            - MALE
            - FEMALE
            - UNISSEX
            - BOY
            - GIRL
        allowAutomaticSkuMarketplaceCreation:
          type: boolean
      required:
        - id
        - title
        - description
        - model
        - nbm
        - videoUrl
        - definitionPriceScope
        - characteristics
        - origin
        - category
        - images
        - brand
        - warrantyTime
        - warrantyText
        - allowAutomaticSkuMarketplaceCreation
      title: Product
    SKU:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 33652426
          partnerId: '00889584736'
          amount: null
          ean: '7898414090938'
          title: Nicho Elegance-Castro - Nacar
          price: 399
          sellPrice: 399
          additionalTime: 0
      examples: []
      properties:
        id:
          type: integer
          format: int64
        partnerId:
          type: string
          minLength: 1
        amount:
          type: number
          format: double
          minimum: 0
        ean:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        price:
          type: number
          format: double
          minimum: 0
        sellPrice:
          type: number
          format: double
          minimum: 0
        additionalTime:
          type: integer
          format: int32
          minimum: 0
          maximum: 999
        variations:
          type: array
          items:
            $ref: '#/components/schemas/SkuVariation'
        product:
          $ref: '#/components/schemas/Product'
      required:
        - id
        - partnerId
        - amount
        - ean
        - title
        - price
        - sellPrice
        - additionalTime
      title: SKU
    SkuMarketplace:
      type: object
      description: ''
      examples:
        - id: 0
          idInMarketplace: string
          marketPlace: B2W
          index: 0
          publicationStatus: string
          marketplaceStatus: string
          transmissionStatus: string
          errorMsg: string
          skuMarketPlaceMessage:
            message: string
            key: string
            parameters:
              parameter1: value1
              parameter2: value2
          price: 0
          priceFactor: 1
          discountPrice: 0
          skuInMarketplace: string
          marketplaceItemCode: string
          fields:
            title: string
            template: string
            priceFactor: string
            DISCOUNT_TYPE: string
            DISCOUNT_VALUE: string
            HAS_DISCOUNT: string
            CONCAT_ATTRIBUTES: string
            delivery_type: string
            SHIPMENT: string
            crossDocking: string
            CUSTOM_DESCRIPTION: string
            EAN: string
            MANUFACTURING_TIME: string
            VALUE: string
            PERCENT: string
            bronze_price: string
            bronze_price_factor: string
            buying_mode: string
            category_with_variation: string
            condition: string
            free_price: string
            free_price_factor: string
            free_shipping: string
            gold_premium_price: string
            gold_premium_price_factor: string
            gold_price: string
            gold_price_factor: string
            gold_pro_price: string
            gold_pro_price_factor: string
            gold_special_price: string
            gold_special_price_factor: string
            listing_type_id: string
            shipping_local_pick_up: string
            shipping_mode: string
            silver_price: string
            silver_price_factor: string
          availableStock:
            amount: 0
            availableAmount: 0
            cost: 0
            totalReservation: 0
            physicalAmount: 0
            reservedPending: 0
            reservedPaid: 0
            totalInInvoicedStatus: 0
            stockLocal: string
            additionalTime: 0
          attributes:
            cor: azul
            tamanho: grande
            material: inox
          idAccount: 0
          accountName: string
          origin: BIND
          isCatalog: true
          permalink: string
          title: string
          ean: string
      title: SkuMarketplace
      x-examples: {}
      properties:
        id:
          type: integer
          description: Id do anúncio no ANYMARKET
          format: int64
        idInMarketplace:
          type: string
          description: Id do anúncio no Marketplace
          maxLength: 255
          minLength: 0
        marketPlace:
          $ref: '#/components/schemas/MarketPlace'
        index:
          type: integer
          description: Índice do anúncio por Marketplace
          format: int64
        publicationStatus:
          type: string
          description: Status da publicação
        marketplaceStatus:
          type: string
          description: Status da publicação no marketplace
        transmissionStatus:
          type: string
          description: Status da publicação no marketplace
        errorMsg:
          type: string
        skuMarketPlaceMessage:
          $ref: '#/components/schemas/SkuMarketPlaceMessage'
        price:
          type: number
          description: Preço do anúncio
          format: double
          minimum: 0
        priceFactor:
          type: number
          description: Markup da transmissão
          format: double
          minimum: 0
          example: 1
        discountPrice:
          type: number
          description: Preço com desconto do anúncio
          format: double
          minimum: 0
        skuInMarketplace:
          type: string
          description: Sku do cliente no marketplace
        marketplaceItemCode:
          type: string
          description: ''
        fields:
          $ref: '#/components/schemas/SkuMarketplaceField'
        availableStock:
          $ref: '#/components/schemas/AvailableStockDTO'
        attributes:
          $ref: '#/components/schemas/Attributes'
        idAccount:
          type: integer
          description: Identificador do SKU no marketplace
          format: int64
          minimum: 0
        accountName:
          type: string
          description: Identificador do SKU no marketplace
        origin:
          type: string
          description: Identificador do SKU no marketplace
          enum:
            - BIND
            - CREATE
        isCatalog:
          description: Código do anúncio no marketplace
          type: boolean
        permalink:
          description: Código do anúncio no marketplace
          type: string
        title:
          description: Código do anúncio no marketplace
          type: string
        ean:
          type: string
          description: Status da transmissão
      required:
        - marketPlace
        - index
        - publicationStatus
        - price
        - priceFactor
        - skuInMarketplace
        - marketplaceItemCode
        - fields
    SkuMarketPlaceMessage:
      title: SkuMarketPlaceMessage
      type: object
      properties:
        message:
          type: string
        key:
          type: string
        parameters:
          type: object
          properties:
            string:
              type: string
      examples:
        - message: string
          key: string
          parameters:
            parameter1: value1
            parameter2: value2
    SkuVariation:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 1456452
          description: Nacar
          type:
            id: 8260
            name: Cor
            partnerId: null
            visualVariation: true
            values: []
          partnerId: Nacar
      examples: []
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
        idInMarketplace:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/SkuVariationType'
        partnerId:
          type: string
          minLength: 1
      required:
        - id
        - idInMarketplace
        - description
        - type
        - partnerId
      title: SkuVariation
    SkuMarketplaceField:
      type: object
      description: Informações especificas do anúncio por marketplace
      properties:
        title:
          type: string
          description: 'B2W,WALMART,MERCADO LIVRE'
          format: int64
        template:
          type: string
          description: MERCADO LIVRE
        priceFactor:
          type: string
          description: 'B2W,CNOVA,WALMART,ECOMMERCE,MERCADO LIVRE'
          format: int64
        DISCOUNT_TYPE:
          type: string
          description: 'B2W,CNOVA,WALMART,ECOMMERCE,MERCADO LIVRE'
          format: int64
        DISCOUNT_VALUE:
          type: string
          description: 'B2W,CNOVA,WALMART,ECOMMERCE,MERCADO LIVRE'
          format: int64
        HAS_DISCOUNT:
          type: string
          description: 'B2W,CNOVA,ECOMMERCE'
          format: int64
        CONCAT_ATTRIBUTES:
          type: string
          description: B2W
          format: int64
        delivery_type:
          type: string
          description: B2W
          format: int64
        SHIPMENT:
          type: string
          description: B2W
          format: int64
        crossDocking:
          type: string
          description: B2W
          format: int64
        CUSTOM_DESCRIPTION:
          type: string
          description: B2W
          format: int64
        EAN:
          type: string
          description: 'B2W,CNOVA'
          format: int64
        MANUFACTURING_TIME:
          type: string
          description: CNOVA
          format: int64
        VALUE:
          type: string
          description: 'WALMART,MERCADO LIVRE'
          format: int64
        PERCENT:
          type: string
          description: 'WALMART,MERCADO LIVRE'
          format: int64
        bronze_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        bronze_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        buying_mode:
          type: string
          description: MERCADO LIVRE
          format: int64
        category_with_variation:
          type: string
          description: MERCADO LIVRE
          format: int64
        condition:
          type: string
          description: MERCADO LIVRE
          format: int64
        free_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        free_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        free_shipping:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_premium_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_premium_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_pro_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_pro_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_special_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        gold_special_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
        listing_type_id:
          type: string
          description: MERCADO LIVRE
          format: int64
        shipping_local_pick_up:
          type: string
          description: MERCADO LIVRE
          format: int64
        shipping_mode:
          type: string
          description: MERCADO LIVRE
          format: int64
        silver_price:
          type: string
          description: MERCADO LIVRE
          format: int64
        silver_price_factor:
          type: string
          description: MERCADO LIVRE
          format: int64
      title: SkuMarketplaceField
    SkuVariationType:
      title: SkuVariationType
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
        idInMarketplace:
          type: string
        name:
          type: string
        partnerId:
          type: string
        visualVariation:
          type: boolean
    VariationType:
      description: ''
      type: object
      x-examples:
        example-1:
          codeInMarketplace: COLOR_VARIANT
          name: Cor
          values:
            - codeInMarketplace: string
              name: string
            - codeInMarketplace: BLUE
              name: Azul
      examples: []
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
        idInMarketplace:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        partnerId:
          type: string
          minLength: 1
        visualVariation:
          type: boolean
        values:
          type: array
          items:
            $ref: '#/components/schemas/Variation'
      required:
        - id
        - idInMarketplace
        - name
        - partnerId
        - visualVariation
      title: VariationType
    Variation:
      description: ''
      type: object
      x-examples:
        example-1:
          codeInMarketplace: COLOR_VARIANT
          name: Cor
          values:
            - codeInMarketplace: string
              name: string
            - codeInMarketplace: BLUE
              name: Azul
      examples: []
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
        idInMarketplace:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/VariationType'
        partnerId:
          type: string
          minLength: 1
      required:
        - idInMarketplace
        - description
        - partnerId
      title: Variation
    SkuMarketplaceCanSave:
      description: ''
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
          description: ''
        mainSkuMarketplace:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        catalog:
          type: boolean
        idInMarketplace:
          type: string
          minLength: 1
        status:
          type: string
          minLength: 1
        marketplaceStatus:
          type: string
          minLength: 1
        transmissionStatus:
          type: string
          minLength: 1
        errorMsg:
          type: string
        skuMarketPlaceMessage:
          $ref: '#/components/schemas/SkuMarketPlaceMessage'
        idInSite:
          type: string
        fields:
          $ref: '#/components/schemas/SkuMarketplaceField'
        isCatalog:
          type: boolean
        permalink:
          type: string
        title:
          type: string
        ean:
          type: string
        skuInMarketplace:
          type: string
          minLength: 1
        priceFactor:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        price:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        discountPrice:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        idAccount:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        accountName:
          type: string
          minLength: 1
        marketPlace:
          $ref: '#/components/schemas/MarketPlace'
        stock:
          $ref: '#/components/schemas/Stock'
        attributes:
          type: object
          required:
            - ATRIBUTO
            - TESTE
            - NOVO ATRIBUTO
          properties:
            ATRIBUTO:
              type: string
              minLength: 1
            TESTE:
              type: string
              minLength: 1
            NOVO ATRIBUTO:
              type: string
              minLength: 1
        sku:
          $ref: '#/components/schemas/SKU'
      required:
        - catalog
        - idInMarketplace
        - status
        - marketplaceStatus
        - transmissionStatus
        - fields
        - isCatalog
        - skuInMarketplace
        - priceFactor
        - price
        - discountPrice
        - idAccount
        - accountName
        - attributes
    Stock:
      title: Stock
      type: object
      properties:
        amount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        availableAmount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        cost:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        totalReservation:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        physicalAmount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        reservedPending:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        reservedPaid:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        totalInInvoicedStatus:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        stockLocal:
          type: string
        additionalTime:
          type: integer
          format: int32
          minimum: 0
          exclusiveMaximum: false
          maximum: 999
    SendPublication:
      description: ''
      type: object
      x-examples: {}
      properties:
        idSkuMarketplace:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        idSkuMarketplaceMain:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        status:
          type: string
          minLength: 1
          enum:
            - UNPUBLISHED
            - CLOSED
            - CORRUPTED
            - PAUSED
            - WITHOUT_STOCK
            - ACTIVE
        onlySync:
          type: boolean
        idSku:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        availableAmount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        idAccount:
          type: integer
          minimum: 0
          exclusiveMaximum: true
          format: int64
        idProduct:
          type: integer
          minimum: 0
          exclusiveMaximum: true
          format: int64
        skuInMarketplace:
          type: string
          minLength: 1
        onlySyncPrice:
          type: boolean
        onlySyncStock:
          type: boolean
        onlySyncStatus:
          type: boolean
      required:
        - idSkuMarketplace
        - idSkuMarketplaceMain
        - status
        - onlySync
        - idSku
        - availableAmount
        - idAccount
        - idProduct
        - skuInMarketplace
        - onlySyncPrice
        - onlySyncStock
        - onlySyncStatus
    PublicationResponse:
      title: PublicationResponse
      type: object
      properties:
        publicationStatus:
          type: string
          enum:
            - UNPUBLISHED
            - CLOSED
            - CORRUPTED
            - WITHOUT_STOCK
            - ACTIVE
        marketplaceStatus:
          type: string
        transmissionStatus:
          type: string
          enum:
            - WAITING_SYNC
            - SENDING
            - PAUSING
            - CLOSING
            - ERROR
            - ACTIVATING
            - SYNCING
            - OK
    DeletePublication:
      description: ''
      type: object
      x-examples: {}
      x-internal: false
      properties:
        idSkuMarketplace:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        idSkuMarketplaceMain:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        status:
          type: string
          minLength: 1
          enum:
            - UNPUBLISHED
            - CLOSED
            - CORRUPTED
            - PAUSED
            - WITHOUT_STOCK
            - ACTIVE
        onlySync:
          type: boolean
        idSku:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        availableAmount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        idAccount:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        idProduct:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        skuInMarketplace:
          type: string
          minLength: 1
        onlySyncPrice:
          type: boolean
        onlySyncStock:
          type: boolean
        onlySyncStatus:
          type: boolean
      required:
        - idSkuMarketplace
        - onlySync
        - idSku
        - skuInMarketplace
      title: ''
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
          description: idAccount gerado pelo ANYMARKET
        oi:
          type: string
          description: Organization Id - Indentificador da base do cliente no ANYMARKET
        active:
          type: boolean
        templateId:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        accountName:
          type: string
        marketplace:
          type: string
        discountType:
          type: string
          minLength: 0
          maxLength: 255
          description: Tipo de desconto
          default: PERCENT
        useSandbox:
          type: boolean
        accountDefault:
          type: boolean
        priceFactor:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        discountValue:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        initialDateForOrderImport:
          type: string
          format: date
        updatePriceStockStatus:
          type: boolean
        additionOfFreight:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        fields:
          type: array
          items:
            type: string
      required:
        - active
        - accountName
        - discountType
        - useSandbox
        - accountDefault
        - priceFactor
        - discountValue
        - initialDateForOrderImport
        - updatePriceStockStatus
        - additionOfFreight
    ApiOrder:
      description: ''
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        marketPlaceId:
          type: string
        marketPlaceNumber:
          type: string
        marketPlace:
          type: string
        partnerId:
          type: string
        createdAt:
          type: string
          format: date-time
        paymentDate:
          type: string
          format: date-time
        cancelDate:
          type: string
          format: date-time
        cancellationCode:
          type: string
          enum:
            - WITHOUT_STOCK
            - SHIPPING_ADDRESS
            - CUSTOMER_EXCHANGE
            - GENERAL_ADJUSTMENT
            - CUSTOMER_RETURN
            - BUYER_CANCELED
            - OTHER
        transmissionStatus:
          type: string
          enum:
            - OK
            - ERROR
            - WAITING
        status:
          type: string
          enum:
            - PENDING
            - PAID_WAITING_SHIP
            - INVOICED
            - PAID_WAITING_DELIVERY
            - CONCLUDED
            - CANCELED
        marketPlaceUrl:
          type: string
        marketPlaceShipmentStatus:
          type: string
        invoice:
          $ref: '#/components/schemas/ApiInvoice'
        marketPlaceStatus:
          type: string
        marketPlaceStatusComplement:
          type: string
        discount:
          type: number
        freight:
          type: number
        productGross:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        productNet:
          type: number
        total:
          type: number
        interestValue:
          type: number
        shipping:
          $ref: '#/components/schemas/ApiShipping'
        billingAddress:
          $ref: '#/components/schemas/ApiBillingAddress'
        buyer:
          $ref: '#/components/schemas/ApiBuyer'
        tracking:
          $ref: '#/components/schemas/ApiBuyer'
        payments:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiPayment'
        items:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiOrderItem'
        deliveryStatus:
          type: string
          enum:
            - UNKNOWN
            - IN_TRANSIT
            - DELIVERED
            - HOLD_FOR_PICKUP
            - DELAYED
            - DELIVERED_LATE
        observation:
          type: string
        anymarketAddress:
          $ref: '#/components/schemas/ApiAnymarketOrderAddress'
        idAccount:
          type: integer
          minimum: 0
          exclusiveMaximum: true
        accountName:
          type: string
        shipmentExceptionDate:
          type: string
          format: date-time
        shipmentExceptionDescription:
          type: string
      required:
        - id
        - partnerId
        - createdAt
        - paymentDate
        - cancelDate
        - cancellationCode
        - transmissionStatus
        - status
        - marketPlaceUrl
        - marketPlaceShipmentStatus
        - invoice
        - marketPlaceStatus
        - marketPlaceStatusComplement
        - discount
        - freight
        - productGross
        - productNet
        - total
        - interestValue
        - shipping
        - billingAddress
        - buyer
        - tracking
        - payments
        - items
        - deliveryStatus
        - observation
        - anymarketAddress
    ApiInvoice:
      title: ApiInvoice
      type: object
      properties:
        accessKey:
          type: string
        series:
          type: string
        number:
          type: string
        date:
          type: string
          format: date-time
        linkNfe:
          type: string
          format: date-time
    ApiShipping:
      title: ApiShipping
      type: object
      properties:
        city:
          type: string
        state:
          type: string
        stateNameNormalized:
          type: string
        country:
          type: string
        countryAcronymNormalized:
          type: string
        countryNameNormalized:
          type: string
        number:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        comment:
          type: string
        reference:
          type: string
        zipCode:
          type: string
        address:
          type: string
        promisedShippingTime:
          type: string
          format: date-time
        receiverName:
          type: string
      description: ''
    ApiBillingAddress:
      title: ApiBillingAddress
      type: object
      properties:
        city:
          type: string
        state:
          type: string
        stateNameNormalized:
          type: string
        country:
          type: string
        countryAcronymNormalized:
          type: string
        countryNameNormalized:
          type: string
        number:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        comment:
          type: string
        reference:
          type: string
        zipCode:
          type: string
      description: ''
    ApiAnymarketOrderAddress:
      title: ApiAnymarketOrderAddress
      type: object
      description: ''
      properties:
        country:
          type: string
        state:
          type: string
        city:
          type: string
        zipCode:
          type: string
        neighborhood:
          type: string
        address:
          type: string
        street:
          type: string
        number:
          type: string
        comment:
          type: string
        receiverName:
          type: string
        promisedShippingTime:
          type: string
          format: date-time
    ApiBuyer:
      title: ApiBuyer
      type: object
      properties:
        Long:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        marketPlaceId:
          type: string
        name:
          type: string
        email:
          type: string
        document:
          type: string
        documentType:
          type: string
        phone:
          type: string
        cellPhone:
          type: string
        documentNumberNormalized:
          type: string
    ApiTracking:
      title: ApiTracking
      type: object
      properties:
        url:
          type: string
        number:
          type: string
        carrier:
          type: string
        carrierDocument:
          type: string
        date:
          type: string
          format: date-time
        estimateDate:
          type: string
          format: date-time
        shippedDate:
          type: string
          format: date-time
        deliveredDate:
          type: string
          format: date-time
    ApiPayment:
      title: ApiPayment
      type: object
      properties:
        method:
          type: string
        status:
          type: string
        value:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        installments:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        marketplaceId:
          type: string
        paymentMethodNormalized:
          type: string
        paymentDetailNormalized:
          type: string
        dueDate:
          type: string
          format: date-time
    ApiOrderItemShipping:
      title: ApiOrderItemShipping
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        shippingtype:
          type: string
        shippingCarrierNormalized:
          type: string
        shippingCarrierTypeNormalized:
          type: string
    ApiOrderItem:
      title: ApiOrderItem
      type: object
      properties:
        partnerId:
          type: string
        amount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        unit:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        gross:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        total:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        discount:
          type: number
          format: double
          minimum: 0
          exclusiveMaximum: true
        shippings:
          type: array
          items:
            $ref: '#/components/schemas/ApiOrderItemShipping'
        marketPlaceId:
          type: string
        orderItemId:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
    RemoteApiUpdateOrderStatus:
      title: RemoteApiUpdateOrderStatus
      type: object
      properties:
        orderId:
          type: integer
          format: int64
          minimum: 0
          exclusiveMaximum: true
        idInMarketplace:
          type: string
        oldStatus:
          type: string
          enum:
            - PENDING
            - PAID
            - INVOICED
            - SHIPPED
            - DELIVERED
            - CANCELED
        currentStatus:
          type: string
          enum:
            - PENDING
            - PAID
            - INVOICED
            - SHIPPED
            - DELIVERED
            - CANCELED
    Categories:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      x-examples:
        example-1:
          - codeInMarketplace: '2551'
            name: Decoração
      items:
        type: object
        properties:
          codeInMarketplace:
            type: string
            minLength: 1
            description: Código da categoria no Marketplace
          name:
            type: string
            minLength: 1
            description: O nome da categoria no Marketplace
        required:
          - codeInMarketplace
          - name
    VinculoSku:
      description: ''
      type: object
      properties:
        idInMarketplace:
          type: string
          minLength: 1
        publicationStatus:
          type: string
          minLength: 1
        marketplaceStatus:
          type: string
          minLength: 1
        skuInMarketplace:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        ean:
          type: string
          minLength: 1
        priceFactor:
          type: number
        price:
          type: number
        discountPrice:
          type: number
      required:
        - idInMarketplace
        - publicationStatus
        - marketplaceStatus
        - skuInMarketplace
        - title
        - ean
        - priceFactor
        - price
        - discountPrice
      x-examples:
        example-1:
          idInMarketplace: SKUFROMMKT
          publicationStatus: ACTIVE
          marketplaceStatus: STATUS_NO_MKT_SKM2
          skuInMarketplace: SKU_IN_MKT_MKT_SKM2
          title: PRODUTO
          ean: '456789123456'
          priceFactor: 1
          price: 10
          discountPrice: 9
    canSave:
      description: ''
      type: object
      x-examples:
        example-1:
          mainSkuMarketplace: null
          catalog: false
          idInMarketplace: '123456'
          status: UNPUBLISHED
          marketplaceStatus: unpublished
          transmissionStatus: WAITING_SYNC
          errorMsg: null
          skuMarketPlaceMessage: null
          idInSite: null
          fields:
            template: '641'
            EAN: '7884016317801'
            is_main_sku: 'true'
            DISCOUNT_VALUE: '100'
            title: 'Dotz: Transmitir Produto sem gênero'
            DISCOUNT_TYPE: VALUE
            HAS_DISCOUNT: 'true'
            priceFactor: '1.50'
          isCatalog: false
          permalink: null
          endDate: null
          title: null
          ean: null
          skuInMarketplace: 19-Dotz
          priceFactor: 1.5
          price: 790.5
          discountPrice: 690.5
          idAccount: 9
          accountName: Conta Taynara - TESTE
          marketPlace: null
          id: null
          stock: null
          attributes:
            string: string
          sku:
            id: 1613194
            partnerId: 19-Dotz
            amount: null
            ean: '7884016317801'
            title: 'Dotz: Transmitir Produto sem gênero'
            price: 527
            sellPrice: 527
            additionalTime: 10
            variations: []
            product:
              imagesWithoutVariationValue:
                - id: 2032070
                  index: 1
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427842549/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: true
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
                - id: 2032071
                  index: 2
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427848204/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: false
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
                - id: 2032072
                  index: 3
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427852169/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: false
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
              id: 2344708
              title: 'Dotz: Transmitir Produto sem gênero'
              description: Descrição do Produto Padrão
              model: Intelligent Granite Chicken -Modelo Dotz
              nbm:
                id: '84158190'
                description: OUTS.APARS.DE AR COND.C/DISP.REFRIG.VALV.INV.CICLO TERM
              videoUrl: null
              definitionPriceScope: COST
              characteristics:
                - index: 0
                  name: 993-CaracteristicaConectaLa
                  value: string
              origin:
                name: NACIONAL
                id: 0
              category:
                id: 772965
                idInMarketplace: c100715
                name: Categoria Padrão Dotz
                path: Categoria Padrão Dotz
              height: 677
              length: 306
              width: 516
              weight: 359
              images:
                - id: 2032070
                  index: 1
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./19743584A8A69721114789D612A6866B/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427842549/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: true
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
                - id: 2032071
                  index: 2
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./727679362BEA32CFD6B035291B518DB0/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427848204/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: false
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
                - id: 2032072
                  index: 3
                  variation: null
                  thumbnailUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/thumbnail.jpg'
                  standardUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/standard_resolution.jpg'
                  lowResolutionUrl: 'http://s3-sa-east-1.amazonaws.com/images.anymarket.com.br/34405162./EDBE0C4339CCBF60D6DE2BC0EB0B96E4/low_resolution.jpg'
                  originalImage: null
                  url: 'https://s3.sa-east-1.amazonaws.com/images.sox.anymarket.com.br/34405162./1621427852169/original.png'
                  statusMessage: null
                  status: PROCESSED
                  main: false
                  standardWidth: null
                  standardHeight: null
                  originalWidth: null
                  originalHeight: null
              brand:
                id: 231107
                idInMarketplace: 614894a9b6080b7646238105
                name: Marca Padrão Dotz
                partnerId: Marca Padrão Dotz
              warrantyTime: 1
              warrantyText: Texto da Garantia Vem aqui
              priceFactor: 1
              calculatedPrice: true
              hasVariations: false
              gender: null
              skus: null
              allowAutomaticSkuMarketplaceCreation: false
      properties:
        mainSkuMarketplace:
          description: ''
        catalog:
          type: boolean
        idInMarketplace:
          type: string
          minLength: 1
          description: sku no Markeplace
        status:
          type: string
          minLength: 1
          enum:
            - UNPUBLISHED
        marketplaceStatus:
          type: string
          minLength: 1
          enum:
            - unpublished
        transmissionStatus:
          type: string
          minLength: 1
          enum:
            - WAITING_SYNC
        errorMsg: {}
        skuMarketPlaceMessage: {}
        idInSite: {}
        fields:
          type: object
          required:
            - template
            - EAN
            - is_main_sku
            - DISCOUNT_VALUE
            - title
            - DISCOUNT_TYPE
            - HAS_DISCOUNT
            - priceFactor
          properties:
            template:
              type: string
              minLength: 1
            EAN:
              type: string
              minLength: 1
              description: Código de barras
            is_main_sku:
              type:
                - boolean
                - string
              description: Identificador de variação principal
            DISCOUNT_VALUE:
              type: string
              minLength: 1
              description: Valor ou percentual de desconto
            title:
              type: string
              minLength: 1
              description: Titulo da publicação
            DISCOUNT_TYPE:
              type: string
              minLength: 1
              description: Tipo de desconto
            HAS_DISCOUNT:
              type: string
              minLength: 1
              description: Se possui desconto
            priceFactor:
              type: string
              minLength: 1
              description: Markup
        isCatalog:
          type: boolean
        permalink:
          description: Link da publicação
        endDate: {}
        title: {}
        ean: {}
        skuInMarketplace:
          type: string
          minLength: 1
        priceFactor:
          type: number
        price:
          type: number
        discountPrice:
          type: number
        idAccount:
          type: number
        accountName:
          type: string
          minLength: 1
        marketPlace: {}
        id: {}
        stock: {}
        attributes:
          type: object
          properties:
            string:
              type: string
        sku:
          type: object
          required:
            - id
            - partnerId
            - ean
            - title
            - price
            - sellPrice
            - additionalTime
            - variations
            - product
          properties:
            id:
              type: number
            partnerId:
              type: string
              minLength: 1
            amount: {}
            ean:
              type: string
              minLength: 1
            title:
              type: string
              minLength: 1
            price:
              type: number
            sellPrice:
              type: number
            additionalTime:
              type: number
            variations:
              type: array
              items:
                type: object
                properties:
                  '':
                    type: string
            product:
              type: object
              required:
                - imagesWithoutVariationValue
                - id
                - title
                - description
                - model
                - nbm
                - definitionPriceScope
                - characteristics
                - origin
                - category
                - height
                - length
                - width
                - weight
                - images
                - brand
                - warrantyTime
                - warrantyText
                - priceFactor
                - calculatedPrice
                - hasVariations
                - allowAutomaticSkuMarketplaceCreation
              properties:
                imagesWithoutVariationValue:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      index:
                        type: number
                      variation: {}
                      thumbnailUrl:
                        type: string
                        minLength: 1
                      standardUrl:
                        type: string
                        minLength: 1
                      lowResolutionUrl:
                        type: string
                        minLength: 1
                      originalImage: {}
                      url:
                        type: string
                        minLength: 1
                      statusMessage: {}
                      status:
                        type: string
                        minLength: 1
                      main:
                        type: boolean
                      standardWidth: {}
                      standardHeight: {}
                      originalWidth: {}
                      originalHeight: {}
                    required:
                      - id
                      - index
                      - thumbnailUrl
                      - standardUrl
                      - lowResolutionUrl
                      - url
                      - status
                      - main
                id:
                  type: number
                title:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                model:
                  type: string
                  minLength: 1
                nbm:
                  type: object
                  required:
                    - id
                    - description
                  properties:
                    id:
                      type: string
                      minLength: 1
                    description:
                      type: string
                      minLength: 1
                videoUrl: {}
                definitionPriceScope:
                  type: string
                  minLength: 1
                characteristics:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      index:
                        type: number
                      name:
                        type: string
                        minLength: 1
                      value:
                        type: string
                        minLength: 1
                    required:
                      - index
                      - name
                      - value
                origin:
                  type: object
[...]
